@keyframes slidein {
    from {
      margin-left: 20%;
      opacity: 0;
    }
  
    to {
      margin-left: 0%;
      opacity: 1;
    }
  }

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
