
.education {
    padding: 40px 0 40px;
}

.education__main {
    display: flex;  
}



@media screen and (max-width:1000px) {
    .education__main {
        flex-direction: column;
    }
}

.education__part {
    flex: 1 1 50%;
}
